$imageBground: "../img/m-h-day.jpg";
$mainBground: #white;
$colorBut: #6fa301;
$cardBground: #242630;
$textColorCard: #c9ccd6;
$colorT: #272a38;
$unline: #0ba0c6;
$startGr: #649606;
$endGr: #2757d1; 




