$imageBground: "../img/m-h-night.jpg";
$mainBground:#1f212b;
$colorBut: #e0ab02;
$cardBground: #3b3f51;
$textColorCard: #b5cece;
$colorT: #white;
$unline: #ff4b2d;
$startGr: #d89f02;
$endGr: #912f4a; 


